<div id="project" class="p-4 w-full bg-gradient-to-t from-indigo-300 to-indigo-400 dark:from-gray-600 dark:to-gray-800">
    <h1 class="text-5xl pb-4 text-center font-bold dark:text-white text-black">
        Projects
    </h1>
    <div class="w-full grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-2">
        @for (item of projects; track $index) {
            <div class="bg-gradient-to-tr from-red-500 via-yellow-500 to-green-500 p-[2px] rounded-md shadow-md shadow-gray-500">
                <div class="pb-[2px]">
                    <img class="rounded-t aspect-video" src={{item.imageUrl}} alt=""/>
                </div>
                <div class="bg-white text-black dark:bg-gray-700 dark:text-white rounded-b">
                    <div class="text-lg text-center">
                        {{item.name}}
                    </div>
                    <div class="flex justify-evenly pb-1">
                        @if (item.url!="") {
                            <a href="{{item.url}}" class="py-[2px] px-6 bg-gradient-to-r from-red-500 to-blue-500 rounded-sm border-[1px] border-blue-700 text-white">
                                Link
                            </a>
                        }
                        @if (item.codeLink) {
                            <a href="{{item.codeLink}}" class="py-[2px] px-6 bg-gradient-to-r from-red-500 to-blue-500 rounded-sm border-[1px] border-blue-700 text-white">
                                code
                            </a>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>