<div name="home" class="md:h-screen h-1/2 w-full bg-gradient-to-t from-indigo-300 dark:from-gray-700 flex justify-center items-center">
    <div class="flex justify-between items-center w-full p-10">
        <div class="">
            <h1>Hello</h1>
            <h1>Gourav Sharma</h1>
        </div>
        <!-- Image -->
        <div class="">
            <img src="https://placehold.jp/300x400.png"/>
        </div>
    </div>
    <!-- LINK FOR ANOTHER profile -->
    <div class="flex flex-row">
        <span>
            <img class="hidden dark:block" src="https://git-scm.com/images/logos/downloads/Git-Icon-Black.png"/>
            <img class="block dark:hidden" src="https://git-scm.com/images/logos/downloads/Git-Icon-1788C.png"/>
        </span>
        <span>
            <img src="assets/Icons/linkedin.png" alt="LinkedIn Icon"/>
            <img src="assets/Icons/social.png" alt="Social Icon"/>
        </span>
        <span></span>
        <span></span>
    </div>
</div>