<div id="home" class="w-full h-screen bg-gradient-to-b from-indigo-200 dark:from-gray-950 flex md:justify-end md:items-end">
    <div class="w-full md:h-[95%] flex flex-col md:flex-row justify-center items-center">
        <!-- Image -->
        <div class="h-1/2 md:w-1/2 md:h-full">
            <img class="h-full w-full" src="images/heroimage.png"/>
        </div>
        <div class="md:w-1/2 flex flex-col justify-center px-4">
            <!-- <h2 class="text-4xl md:text-5xl text-center md:text-left font-bold dark:text-white bg-gradient-to-r from-purple-600 via-indigo-500 to-red-400 inline-block text-transparent bg-clip-text">
                I'm a Full Stack Developer
            </h2> -->
             <h2 class="text-4xl md:text-5xl text-center md:text-left font-bold dark:text-white text-black
             ">
                I'm a Full Stack Developer
            </h2>
            <p class="text-gray-900 dark:text-gray-200 py-4 px-5">
                I have 2 years of experience building and desgining software.
                Currently, I love to work on web application technologies like
                Angular, Tailwind CSS and .NET Core.
            </p>
            <!-- link Icon -->
            <div class="w-full flex justify-center md:justify-start pb-2">
                <div class="flex flex-row justify-around gap-2 bg-gray-300 rounded-md p-2">
                    <span class="w-10 rounded-full hover:scale-110 hover:shadow-sm cursor-pointer duration-200">
                        <a href="https://www.linkedin.com/in/gourav-sharma11/">    
                            <img class="object-cover w-full h-full block dark:hidden" src="icons/linkedin.png" alt="LinkedIn Icon"/>
                            <img class="object-cover w-full h-full hidden dark:block" src="icons/linkedindark.png" alt="LinkedIn Icon"/>
                        </a>
                    </span>
                    <span class="w-10 rounded-full hover:scale-110 hover:shadow-sm cursor-pointer duration-200">
                        <a href="mailto: gouravsharmapro01@gmail.com">
                            <img class="object-cover w-full h-full block dark:hidden" src="icons/mail.png" alt="Mail Icon"/>
                            <img class="object-cover w-full h-full hidden dark:block" src="icons/maildark.png" alt="Email Icon"/>
                        </a>
                    </span>
                    <span class="w-10 rounded-full hover:scale-110 hover:shadow-md cursor-pointer duration-200">
                        <a href="https://github.com/Gourav-dark">
                            <img class="object-cover w-full h-full block dark:hidden" src="icons/github.png" alt="Mail Icon"/>
                            <img class="object-cover w-full h-full hidden dark:block" src="icons/githubdark.png" alt="Email Icon"/>
                        </a>
                    </span>
                </div>
            </div>
            <!-- button -->
            <div class="flex flex-row gap-5 w-full justify-center md:justify-start md:mt-5">
                <button class="text-white w-fit px-6 py-3 my-2 flex gap-1 items-center rounded-md bg-gradient-to-r from-purple-500 to-blue-500">
                    Project
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="size-6">
                        <path fill-rule="evenodd" d="M16.28 11.47a.75.75 0 0 1 0 1.06l-7.5 7.5a.75.75 0 0 1-1.06-1.06L14.69 12 7.72 5.03a.75.75 0 0 1 1.06-1.06l7.5 7.5Z" clip-rule="evenodd" />
                    </svg>
                </button>
                <button class="text-white w-fit px-6 py-3 my-2 flex gap-1 items-center rounded-md bg-gradient-to-r from-blue-500 to-indigo-700">
                    Resume
                    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 0 0 5.25 21h13.5A2.25 2.25 0 0 0 21 18.75V16.5M16.5 12 12 16.5m0 0L7.5 12m4.5 4.5V3" />
                    </svg>                              
                </button>
            </div>
        </div>
    </div>
</div>