<!-- header.component.html -->
<!-- <div class="flex justify-between items-center w-full h-16 px-4 bg-[#5356FF] text-white dark:bg-black fixed"> -->
<div class="flex justify-between items-center w-full h-16 px-4 bg-indigo-600 text-white dark:bg-black fixed">
    <!-- Logo -->
    <div>
        <h1 class="font-signature text-2xl md:text-3xl font-medium">Sharma Portfolio</h1>
    </div>
    <!-- Menu for larger screens -->
    <div class="hidden md:flex">
        <span *ngFor="let item of Menu" class="px-4 cursor-pointer capitalize font-medium dark:text-gray-500 hover:scale-105 duration-200">
            {{item.name}}
        </span>
    </div>
    <div class="flex justify-between items-center gap-5 z-10">
         <!-- Theme Toggle -->
         <app-theme-change></app-theme-change>
        <!-- Menu Button for smaller screens -->
        <div class="md:hidden dark:text-gray-500">
            <span class="cursor-pointer" (click)="toggleMenu()">
                <svg *ngIf="!sidenav" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-7">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 5.25h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5m-16.5 4.5h16.5" />
                </svg>
                <svg *ngIf="sidenav" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-7">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M6 18 18 6M6 6l12 12" />
                </svg>
            </span>
        </div>
    </div>
    <!-- Sliding Menu for smaller screens -->
    <div [ngClass]="{'translate-x-full': !sidenav, 'translate-x-0': sidenav}" 
            class="fixed top-16 right-0 w-3/4 h-screen bg-gradient-to-b from-indigo-600 to-indigo-400 dark:from-black dark:to-gray-800 dark:text-gray-500 transform transition-transform duration-300 md:hidden border-t-2 border-white dark:border-gray-700">
        <span *ngFor="let item of Menu" class="block px-4 cursor-pointer capitalize py-4 text-xl font-medium dark:text-gray-500 hover:scale-105 duration-200 hover:bg-indigo-500 dark:hover:bg-black hover:shadow-sm dark:hover:shadow-gray-800">
            {{item.name}}
        </span>
    </div>
</div>
